<h3 class="bg-warning">This is app component</h3>
<div class="container mx-5 my-5">


 
  <!-- <app-child [userName] = 'name2'></app-child><hr> -->
  
  <!-- <div>
    <label for="courses">Select your course : </label>
    <select name="courses" id="courses" #course (change) = 'courseName = course.value' >
      <option value=""></option>
      <option value="javascript">javascript</option>
      <option value="typescript">typescript</option>
      <option value="angular">angular</option>
    </select>
  </div> -->
  

  <!-- Below is the demo of @Output() decorator  -->
  <!-- <app-child [userName] = 'name' [cName] = 'courseName' (custeve) = "registrationMsg($event)" (newEve) = " childVal = $event " ></app-child> -->

  <!-- <p *ngIf = "success">You are successfully registered for {{success}}</p> -->

  <!-- <p *ngIf = "childVal">{{childVal}}</p> -->

  <!-- <br>
  <h5>Tutor for these courses is {{tutorName}}</h5>
  <br>
<table class="table border bordered text-center">
    <thead class="thead bg-primary">
      <tr>
        <td>Course ID</td>
        <td>Course Name</td>
        <td>Registration</td>
      </tr>
    </thead>
    <tbody class="border border-danger">
      <tr *ngFor ="let course of courseList">
          <td>{{course.id}}</td>
          <td>{{course.name}}</td>
          <td><Button (click) = "enroll(course.name)">Register</Button></td>
      </tr>
    </tbody>
  </table><br><br> -->

  

</div>